#RENOVATION
MIS_API_URL = "https://url"
MIS_API_KEY = "key"

#MAX
MAX_BOT_TOKEN=token

#MONGO
MONGO_URI = "mongodb://url:27017"
DB_NAME = "db"
COLLECTION_NAME = "users"
COLLECTION_SENDER = "sender"
COLLECTION_NEWSLETTERS = "COLLECTION_NEWSLETTERS"

#WEBHOOK MAX
WEBHOOK_SECRET="secret"
WEBHOOK_PORT_HTTPS=8888
WEBHOOK_URL_SUBSCRIBE='https://url.ru'
WEBHOOK_PATH='/webhook'

#AISTUDIOYANDEX
AI_ACTIVATED=0
AI_SECRET="sercret"
AI_URL='https://ai.api.cloud.yandex.net/v1'
AI_PROJECT="key"
AI_MODEL="gpt://model"

#APP
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8000
LOGS_DIR=logs 
LOG_LEVEL=INFO
DAYS_BEFORE=20

#AUTH
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secret_password